[Unit]
Description=OpenAFS Client Service
Wants=network-online.target
After=syslog.target network-online.target
Before=remote-fs.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/openafs-client
ExecStartPre=/usr/libexec/openafs/openafs-refresh-cellservdb
ExecStartPre=/sbin/modprobe openafs
ExecStart=/usr/sbin/afsd $AFSD_ARGS
ExecStop=/bin/umount /afs
ExecStop=/usr/sbin/afsd -shutdown
ExecStop=/sbin/rmmod openafs
KillMode=none

[Install]
WantedBy=multi-user.target remote-fs.target
